html,
body {
  margin: 0;
  border: 0;
  font-size: 100%;
  background-color: seashell;
  color: #161616;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 2rem;
}

footer.post-info {
  font-size: small;
}

a.url {
  text-decoration: none;
}

#contentinfo {
  position: absolute;
  bottom: 10px;
}

#banner a {
  text-decoration: none;
  color: tomato;
}

nav {
  background-color: #161616;
  padding: 0.1rem;
}

nav ul {
  list-style: none;
  color: #ffffff;
}

nav li {
  display: inline;
}

nav a {
  text-decoration: none;
  padding: 1rem;
  color: #ffffff;
}

nav a:hover {
  color: tomato;
}

h2,
a {
  text-decoration: none;
}
